html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
}

.item{
   margin-bottom:50px;
   background-color:blue;
   width:80%;
}

#deleteButton{
  background-color:red;
}

.ingr{
  text-align:center;
  font-size:30px;
}

.food{
  background-color:red;
  font-size:30px;
}

.close{
   float:right;
}
